.account-selector__network-info{
  width: 100%;
  text-align: center;
}
.account-selector__select-network{
  padding: 0 0 0.3em 0.2em;
  font-size: 1.2em;
}

.account-selector-box--nav{
  display: flex;
}

.account-selector__account-address{
  align-items: baseline;
  justify-content: center;
}

.account-selector__accounts-list{
  margin: 1em 0;
  padding: 3px;
}

.account-selector__accounts-list .list-group-item:last-child{
  border-bottom: 0;
}
.account-selector__accounts-list .list-group-item{
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.nav-account__account {
  background: linear-gradient(135deg,#ae27a5,#742cb2);
  font-size: 0.938rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  color: white;
  border: none;
  border-radius: 1000px;
  box-shadow: 0 5px 20px -10px #742cb2;
  font-weight: 500;
  line-height: 22.984px;
  overflow: hidden;
  padding: 0.75rem;
  text-decoration: none;
  transition: all .125s;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  margin-left: 10px;
}

.nav-account__account:hover {
  filter: brightness(1.15);
  transition: none;
}

.nav-account__account:active {
  filter: brightness(1.25);
  transition: all 0.125s;
}

.nav-account__gear {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  transition: all 0.125s;
  color: var(--primary);
  box-shadow: var(--neomorph-out);
}

.nav-account__gear :hover {
  color: var(--primary);
  cursor: pointer;
  box-shadow: var(--neomorph-out-light), var(--neomorph-in-light);
}

.nav-account__hidden-balance {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin-right: 4px;
}

.nav-account__hidden-balance div {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--primary);
  margin-left: 3px;
  animation: nav-balance-hidden-dot 0.15s;
}

@keyframes nav-balance-hidden-dot {
  from {
      transform: scale(0);
  }
}

.nav-account__balance {
  padding-top: 1px;
}