.border-rad {
  border-radius: 13px;
}
.btn:focus {
  box-shadow: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input {
  font-family: "Inter var", sans-serif;
}

.btn-empty {
  border: none;
  background-color: inherit;
}

.btn-select {
  border-color: #bfbfbf;
  display: flex;
  flex-direction: row;
}

.field {
  background-color: rgb(247, 248, 250);
  border: 1px solid rgb(237, 238, 242);
}
.field:hover {
  border: 1px solid rgb(225, 226, 232);
}

.field-input,
.field-input:focus {
  background-color: rgb(247, 248, 250);
  border: none;
  outline: none;
  box-shadow: none;
}
.btn-field {
  padding: 4px 8px 4px 8px;
  background-color: rgb(247, 248, 250);
}
.btn-content-field {
  padding: 3px;
  z-index: 5;
  margin-top: -18px;
  margin-bottom: -18px;
  background-color: white;
}
.hover-border:hover {
  border: 1px solid #46288b;
}
.list-item {
  list-style: none;
}
.list-group-full {
  padding-left: calc(var(--bs-gutter-x) / 2);
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-bottom: 20px;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.list-group-item-action:hover {
  background-color: #5531a9 !important;
  color: whitesmoke !important;
}
.dropdown-menu {
  background-color: rgb(237 238 242);
}

.dropdown-item {
  background-color: inherit;
}

.dropdown-item:hover .lead-text,
.dropdown-item:hover .sub-text,
.dropdown-item:hover {
  color: whitesmoke;
  background-color: #46288b;
}

.title-text {
  font-size: 1.1em;
}

.lead-text {
  font-size: 1em;
}

.sub-text {
  font-size: 0.9em;
}
.mini-text {
  font-size: 0.7em;
}

.modal-dialog {
  width: 430px;
}

.modal-footer {
  background-color: rgb(237, 238, 242);
}

.form-control:focus {
  box-shadow: none;
  border-color: #46288b;
}
.text-war {
  color: #cc9c0e !important;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: #46288b;
}
.select-token-icon-size {
  width: 20px;
  height: 20px;
}

.pointer {
  cursor: pointer;
}

.bg-white,
.nav-account {
  background-color: #fff;
}

.bg-grey {
  background: #00000012;
}

.nav-account {
  display: flex;
  padding: 2px;
}

.card {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 8px 20px 0 rgb(40 133 208 / 15%);
}

.d-flex-vert-base {
  align-items: baseline;
}

.btn-reef {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border: none;
  white-space: nowrap;
  border-radius: 999px;
  font-size: 1rem;
  line-height: 22.984px;
  font-family: "tenon", sans-serif;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  transition: all 0.4s;
  text-decoration: none;
  color: white;
  background: #681cff;
  box-shadow: 0 0.313rem 1.25rem -0.625rem #681cff;
}

.btn-reef > * {
  position: relative;
  z-index: 1;
  color: white;
}

.btn-reef::after {
  content: "";
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #fd3f83);
  transform: translateY(100%);
  transition: opacity 0.4s linear, transform 0.4s linear;
}

.btn-reef:hover {
  box-shadow: 0 0.313rem 1.25rem -0.625rem #fd3f83;
}

.btn-reef:hover::after {
  opacity: 1;
  transform: none;
}

.btn-reef:active {
  transition: none;
  filter: brightness(1.2);
}
